
*{
    font-family:'Montserrat', sans-serif; ;
}
.carousel-item img{
    max-height: 37rem;
    width:100%
}
.list li a {
    color: rgb(37, 36, 36);
    text-decoration: none;
}
.list li{
    list-style-type: none;
}
footer h4{
    padding: 25px;
}
